.container-list{
    width: 80%;
    height: 100%;
    background-color: #212B35;
    margin: 60px auto;
    padding: 20px 30px;
    border-radius: 10px;
    div{
        h3{
            color: #79838E;
        }
    }
    .btn-add-list{
       padding:20px 0;
        button{
            display: flex;
            align-items: center;
            color: #C69C2E;
            background-color: transparent;
            border: none;
            font-weight: bold;
            font-size: 16px;
        }
    }
}
.box-list-container{
    width: 100%;
    padding: 12px 10px;
    background-color: #343D48;
    border-radius: 4px;
    margin-top: 10px;


    p{
        color: #fff!important;
        font-weight: bold;
        height: 50px;
    }
    .logo-input{
        display: flex;
    }
   
} 

.atucomplete-main{
    display: flex;
  align-items: center;
  justify-content: center;

    .MuiTextField-root{
        width: 60%!important;
   
        label{
color: #6B7279!important;
transform: translate(559px, -8px) scale(0.75);
background-color: #343D48;
padding:0 7px ;
        }
        fieldset{
            text-align: right;
        }
          
          
    }
    .MuiAutocomplete-hasPopupIcon{
        width: 15%!important;
        margin-left: 10px!important;
        .MuiTextField-root{
            width: 100%!important;
           label{
            transform: translate(112px, -5px) scale(0.75);
            background-color: transparent;
            padding:0 7px ;
            display: flex;
            align-items: center;
            justify-content: center;
           }

        }
    }
}

        .MuiAutocomplete-endAdornment{
            width: 29%;
            display: flex;
            background-color: transparent;
            color: #fff;
        }
    



.header-box{
    display: flex;
    justify-content: space-between;
    height: 50px;
    align-items: center;
    
}

.right-header{
    display: flex;
    
    align-items: center;
    p{
        margin: 0;
        height: auto;
        color: #fff;
    }
    .header-text{
        color: #C69C2E;
        margin-right: 10px;
    }

}
.btn-group-data{
    display: flex;
    justify-content:space-between;
    width: fit-content;
    padding: 10px 20px;
    flex-direction: row-reverse;
   .btn-edite-box{
        background-color: transparent;
        border: none;
        padding: 5px 30px;
        display: flex;
        align-items: center;
       color: #C69C2E;
       p{
         height: auto;
         font-size: 16px;
       color: #C69C2E!important;
       margin-right: 5px;
       }
       &:nth-child(1){
        color: rgb(244, 67, 54);
        p{
            color: rgb(244, 67, 54)!important;
        }
       }
    }
}
.content-main-box{
    background-color: #3E4751;
    padding: 10px 20px;
    border-radius: 4px;
    padding: 16px;
}
.disabled-icon{
    color: #71787F!important;
    background-color: transparent;
        border: none;
        padding: 5px 30px;
        display: flex;
        align-items: center;
    p{
        color: #71787F!important;
        height: auto;
        font-size: 16px;
       margin-right: 5px;
    }
}
.btn-group-add{
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
.optout-btn,.disabled-icon-submit{
    border: 1px solid #C69C2E;
    background-color: transparent;
    color: #C69C2E;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 14px;
    cursor: pointer;
    &:nth-child(2){
        background-color: #C69C2E;
        color: #ffff;
        margin-right:7px;

    }
}
}
.disabled-icon-submit{
    background-color: rgba(255, 255, 255, 0.12)!important;
    border: none!important;
}
